<div class="mt-4">
  <app-login></app-login>
 <div style="max-width: 700px; margin: auto; padding: 20px;">
  <h2>Select Tech Stack to View Dockerfile</h2>

  <select [(ngModel)]="selectedTech().name" (change)="onTechChange(selectedTech().name)" style="margin-bottom: 20px; width: 100%; padding: 8px;">
    <option *ngFor="let tech of techStacks" [value]="tech.name">{{ tech.name }}</option>
  </select>

  <pre><code [highlight]="selectedTech().content" [language]="'dockerfile'"> </code></pre>
  

  
</div>
<app-chat/>
</div>
