pipeline {
    agent any

    stages {
        stage('Clone repo') {
            steps {
                git url: '{{ public_repo_url }}', branch: '{{ branch }}'
            }
        }

        stage('Build Docker Image') {
            steps {
                script {
                    bat 'docker build -t idpx/{{ image_name }} .'
                }
            }
        }

        stage('Push Docker Image') {
            steps {
                script {
                    withCredentials(
                        [usernamePassword(
                            credentialsId: '{{ dockerhub_cred_Jenkins }}' , 
                            usernameVariable: 'DOCKERHUB_USER', 
                            passwordVariable: 'DOCKERHUB_PASS'
                        )]){
                           bat '''
                            echo %DOCKERHUB_PASS% | docker login -u %DOCKERHUB_USER% --password-stdin
                            docker push idpx/{{ image_name }}:latest
                            '''
                            }
                        }
            }
        }
    }
}
