<nav class="top-0 left-0 right-0 z-50  backdrop-blur-md bg-white/70 border-b border-gray-200/20 shadow-sm">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center h-16">
      <!-- Logo -->
      <div class="flex items-center">
        <a routerLink="/" class="flex items-center">
          <img src="assets/images/IDP-X_logo_white_No_bg.png" alt="IDP-X Logo" class="h-8 w-auto">
        </a>
      </div>

      <!-- Right side -->
      <div class="flex items-center">
        <app-user-card></app-user-card>
      </div>
    </div>
  </div>
</nav>